
@{
    ViewData["Title"] = "api";
}

<h2>api</h2>

<a asp-action="GetAddress">Address</a> | 
<a asp-action="GetNation">Nation</a> | 
<a asp-action="GetReligion">Religion</a> | 
<a asp-action="GetProvince">Province</a> | 
<a asp-action="GetOffice">Company</a>

